/* Variable declaration. */
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #FFEEF4;
  font-family: "Oswald", sans-serif;
}

nav {
  width: 100%;
  padding: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* Implementation of mixins. */
  /* display: flex;
  justify-content: space-between; */
  color: #94A684;
  /* Here we are using nesting in SASS. */
}
nav p {
  font-size: 2rem;
  padding-left: 1.1rem;
}
nav .icons {
  display: flex;
  gap: 0.3rem;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  padding-left: 2rem;
  padding-right: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* display: flex;
  justify-content: space-between; */
  color: #94A684;
}
article h1 {
  padding: 0;
  margin: 0;
  font-size: 3rem;
}
article p {
  font-size: 1.2rem;
}
article button {
  width: 16vw;
  padding: 0.5rem;
  margin: 2rem 0;
  background: #fa9500;
  border-style: none;
  border-radius: 15px;
  color: #fff;
}
article button:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}
article img {
  width: 25vw;
  border-radius: 5%;
}

section {
  width: 100%;
  height: auto;
  /* Using inheritance SCSS */
}
section h2 {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  color: #94A684;
}
section .healthcare, section .furniture {
  margin-bottom: 5rem;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
  padding: 1rem;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 35vw;
  height: auto;
  background-color: #E4E4D0;
  color: #94A684;
  padding: 0.5rem;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 0.5rem;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 80%;
  height: 15rem;
  border-radius: 4px;
  -o-object-fit: cover;
     object-fit: cover;
}
section .furniture .product-card {
  background: #AEC3AE;
  color: #fff;
}

.about-us .mission {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin: 1rem;
  color: #e86424;
}
.about-us .mission .earth, .about-us .mission .innovation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem;
}
.gallery h2 {
  padding-bottom: 3rem;
}
.gallery .gallery-images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.gallery .gallery-images img {
  width: 40vw;
  box-sizing: border-box;
  border-radius: 1rem;
  border: 0.23rem solid #BABD8D;
}
.gallery .gallery-images img:hover {
  transform: scale(1.1);
  transition-duration: 0.2s;
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #e86424;
  padding: 2rem 0;
}
.location .map img {
  width: 90vw;
  border-radius: 0.09rem;
}

footer {
  background: #fa9500;
  width: 100%;
  height: 15rem;
}/*# sourceMappingURL=main.css.map */