/* Variable declaration. */
$primary-color: #FFEEF4;
$secondary-color: #E4E4D0;
$tertiary-color: #AEC3AE;
$quaternary-color: #fa9500;
$white-color: #fff;
$primary-text-color: #94A684;
$font: 'Oswald', sans-serif;

@mixin flex($direction, $content, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $align;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: $primary-color;
    font-family: $font;
}

nav{
    width: 100%;
    padding: 0.3rem;
    @include flex(row, space-between, center); /* Implementation of mixins. */
    /* display: flex;
    justify-content: space-between; */
    color: $primary-text-color;
    /* Here we are using nesting in SASS. */
    p{
        font-size: 2rem;
        padding-left: 1.1rem;
    }

    .icons{
        display: flex;
        gap: 0.3rem;

        button{
            background: none;
            border-style: none;
        }
    }
}

article{
    width: auto;
    padding-left: 2rem;
    padding-right: 1.5rem;
    @include flex(row, space-between, center );
    /* display: flex;
    justify-content: space-between; */
    color: $primary-text-color;
    h1{
        padding: 0;
        margin: 0;
        font-size: 3rem;
    }
    p{
        font-size: 1.2rem;
    }
    button{
        width: 16vw;
        padding: 0.5rem;
        margin: 2rem 0;
        background: $quaternary-color;
        border-style: none;
        border-radius: 15px;
        color: $white-color;
        &:hover{
            transform: scale(1.1);
            transition-duration: 0.2s;
        }
    }
    img{
        width: 25vw;
        border-radius: 5%;
    }
}

section{
    width: 100%;
    height: auto;
    h2{
        display: flex;
        justify-content: center;
        padding-left: 1rem;
        color: $primary-text-color;
    }
    .healthcare{
        margin-bottom: 5rem;
        .card-section{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 1.5rem;
            padding: 1rem;
        }
        .product-card{
            width: 35vw;
            height: auto;
            background-color: $secondary-color;
            color: $primary-text-color;
            padding: 0.5rem;
            border-radius: 8px;
            .icon{
                width: 100%;
                display: flex;
                justify-content: flex-end;
                padding-bottom: 0.5rem;
            }
            .product-image{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                    height: 15rem;
                    border-radius: 4px;
                    object-fit: cover;
                }
            }
        }
    }
    /* Using inheritance SCSS */
    .furniture{
        @extend .healthcare;
        .product-card{
            background: $tertiary-color;
            color: $white-color;
        }
    }
}

.about-us{
    .mission{
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
        margin: 1rem;
        color: #e86424;
        .earth{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 1rem;
            padding: 0.6rem
        }
    }
    .innovation{
        @extend .earth;
    }
}

.gallery{
    h2{
        padding-bottom: 3rem;
    }
    .gallery-images{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 2rem;
        img{
            width: 40vw;
            box-sizing: border-box;
            border-radius: 1rem;
            border: 0.23rem solid #BABD8D;
            &:hover{
                transform: scale(1.1);
                transition-duration: 0.2s;
            }
        }
    }
}

.location{
    @include flex(column, center, center);
    flex-wrap: wrap;
    color: #e86424;
    padding: 2rem 0;
    .map{
        img{
            width: 90vw;
            border-radius: 0.09rem;
        }
    }
}

footer{
    @include flex(column, flex-start, center);
    width: 100vw;
    height: auto;
    padding: 0.6rem;
    background: $quaternary-color;
    color: $white-color;
    .social-icons{
        a{
            text-decoration: none;
        }
        i{
            margin: 0.3rem;
            font-size: 1.7rem;
        }
    }
}